.custom-button {
    min-width: 165px;
    margin: 25px auto 50px auto;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 25px 0 25px;
    font-size: 15px;
    background-color: black;
    color: white;
    font-family: 'Open Sans Condensed';
    font-weight: bold;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
  
    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
    }

    &.google-sign-in {
      background-color: black;
      color: white;

      &:hover {
        background-color: black;
        border: none;
      }
    }

    &.inverted {
      min-width: 95px;
      background-color: white;
      color: black;
      padding: 0 5px 0 5px;
      border: 1px solid black;
      display: inline-flex;

      &:hover {
        background-color: black;
        color: white;
        border: none;
      }
    }
  }
  