.log-item {
    width: 100%;
    display: flex;
    min-height: 50px;
    border-bottom: 1px solid darkgrey;
    padding: 15px 0;
    font-size: 16px;
    align-items: center;
    margin: 0 auto 0 auto;
    display: inline-flex;
} 
.date{
    width: 11.4%;
}
.name{
    width: 20%;
}
.time-in{
    width: 11.4%;
}
.protocols{
    width: 11.4%;
}
.time-out{
    width: 11.4%;
}
.injury{
    width: 11.4%;
}
.breaks{
    width: 11.4%;
}
.tasksCompleted{
    width: 11.4%;
}