.log-item {
    width: 100%;
    display: flex;
    min-height: 70px;
    border-bottom: 1px solid darkgrey;
    padding: 15px 0;
    font-size: 20px;
    align-items: center;
    margin: 0 auto 0 auto;
    display: inline-flex;
} 
.name{
    width: 25%;
}
.time-in{
    width: 15%;
}
.protocols{
    width: 15%;
}
.time-out{
    width: 15%;
}
.injury{
    width: 15%;
}
.breaks{
    width: 15%;
}