.log-page {
    width: 80%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto 0;

    form {
        font-weight: bold;
        font-family: 'Roboto';

        input {
            margin-right: 30px;
            height: 30px;
        }
    }
  
    .search {
        display: inline-flex;
        margin: 30px;
        label {
            padding: 0 25px 0 25px;
        }
        .search-link {
            padding: 0 25px 0 25px;
            color: dodgerblue;
            font-weight: bold;
            font-size: 14pt;
        }
    }
    .log-header {
      width: 100%;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid darkgrey;
  
      .log-block {
        text-transform: capitalize;
        width: 23%;
      }
      .date{
        width: 11.4%;
    }
      .name{
        width: 20%;
    }
    .time-in{
        width: 11.4%;
    }
    .protocols{
        width: 11.4%;
    }
    .time-out{
        width: 11.4%;
    }
    .injury{
        width: 11.4%;
    }
    .breaks{
        width: 11.4%;
    }
    .tasksCompleted{
        width: 11.4%;
    }
    }
}