/* base styles */
body, p {
    font-family: 'futura-pt';
    font-weight: 400;
    color: #303030;
}
.sign-in {
    min-width: 200px;
    max-width: 565px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
label {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 18px;
}
button {
    margin: 25px auto 50px auto;
    padding: 0 5px 0 5px;
    height: 50px;
    min-width: 95px;
    background-color: white;
    letter-spacing: 0.5px;
    line-height: 50px;
    font-size: 15px;
    color: black;
    font-family: 'Open Sans Condensed';
    font-weight: bold;
    border: 1px solid black;
    display: inline-flex;
    cursor: pointer;
    justify-content: center;
}
a {
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 400;
    color: black;
}
select {
    font-family: 'Open Sans';
    font-weight: bold;
    min-width: 105px;
    margin: 45px 0;
      background-color: white;
      color: black;
      padding: 10px 5px 10px 25px;
      border: 1px solid black;
      display: inline-flex;

}
* {
    box-sizing: border-box;
}
h1 {
    font-family: 'Roboto';
    font-size: 22pt;
    font-weight: lighter;
    margin: 0 0 0 0;
}
h2 {
    font-family: 'futura-pt';
    font-size: 18px;
    letter-spacing: 0.5px;
    margin: 0 0 0 0;
}
.language {
    color: dodgerblue;
    font-weight: bold;
    padding-top:510px;
}
/* grids */
.choices {
    margin: 45px 5% 0 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/* small tablet styles */
@media screen and (min-width: 620px){

}
/* large tablet & laptop styles */
@media screen and (min-width: 960px){
    
}
/* desktop styles */
@media screen and (min-width: 1200px){
    
}