.job-number {
    margin: 10% 70px 25px 10px;
    font-family: 'Open Sans';
    font-weight: bold;
    min-width: 105px;
      background-color: white;
      color: black;
      padding: 10px 5px 10px 25px;
      border: 1px solid black;
      display: inline-flex;
}